body {
    padding: 50px;
    font: 28px "Times New Roman", Helvetica, Arial, sans-serif;
}

h1 {
    font: 48px "Times New Roman";
    justify-content: center;
    text-align: center;
}

* {
    background-color: lightcoral;
}

img {
    max-width: 100%;
    align-content: center;
}
